
body {
    color: #203C46
  ;
  background-color: white;
  }
    .front {
          background-image: url(img/destovka/pozadi.png);
           }
  
  .kampan--numbers {
      flex: 7;
      margin: 3%;
      }
  
   .kampan--content {
      flex:2;
      white-space: wrap;
      margin: 3%;
   }
  
    .kampan--imysleni__pictures {
      margin: 3%;
    }
  
    .kampan--imysleni__numbers {
      margin: 3%;
    }