
body {
    color: white
  ;
  background-color: #1D1511;
  }
    .front {
          background-image: url(img/DZS/pozadi.png);
           }
  
h3 {
    color: #E5481D;
}

.typ {
    background-color:#E5481D
}
  .kampan--numbers {
      flex: 7;
      margin: 3%;
      }
  
   .kampan--content {
      flex:2;
      white-space: wrap;
      margin: 3%;
   }
  
    .kampan--imysleni__pictures {
      margin: 3%;
    }
  
    .kampan--imysleni__numbers {
      margin: 3%;
    }