
body {
    color: #002732
  ;
  background-color:white;
  }
    .front {
          background-image: url(img/pomahame/pozadi.png);
           }
  
h3 {
    color: #E5481D;
}

.typ {
    background-color:#E5481D
}
  .kampan--numbers {
      flex: 7;
      margin: 3%;
      }
  
   .kampan--content {
      flex:2;
      white-space: wrap;
      margin: 3%;
   }
  
    .kampan--imysleni__pictures {
      margin: 3%;
    }
  
    .kampan--imysleni__numbers {
      margin: 3%;
    }

    .kampan--pomahame__pictures .pictures--numbers {
        display: flex;
        flex-direction: column;
    }

 