
body {
  overflow-x: auto;
  overflow-y: hidden;
    
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  h2 {
    font-size: 310%;
  }
  h3 {
    font-size: 300%;
  }
  p {
    font-size: 150%;
    font-weight: 300;
  }

  .big {
    font-size: 310%;
    font-weight: 600;
  }

  .light {
    font-weight: 300;
  }
  li {
    list-style-type: none;
  }

  li p {
    font-weight: 600;
  }
  .content {
    display: flex;
    flex-direction: row;
  }

  .front {
    min-width: 90vw;
    min-height: 100vh;
    max-width: 177.7777vh;
    max-height: 56.25vw ;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.kampan--numbers__flex {
  display: flex;
  flex-direction: row;
}

.pictures--numbers{
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.numbers__img {
  height: 80px;
  width: 80px;
  flex: 1;
  object-position: 50% 50%;
}

.numbers__content {
  flex: 3;
  align-content: flex-start;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
.wrapper {
  display: flex;
  flex-direction: row;
  /*upravit individuálně*/
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.typ {
  color: white;
  font-size: 100%;
}

.typ--color_or {
background-color: #E5481D;
}

.orange {
  color: #E5481D;

}